<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/July_25_2023_heat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!wget https://raw.githubusercontent.com/werowe/HypatiaAcademy/master/basics/paphosWeather2023.json

paphosWeather2023.json

```
{
	"dt": 1530403200,
	"dt_iso": "2018-07-01 00:00:00 +0000 UTC",
	"timezone": 10800,
	"main": {
		"temp": 22.99,
		"temp_min": 20.6,
		"temp_max": 24.23,
		"feels_like": 23.51,
		"pressure": 1009,
		"humidity": 83,
		"dew_point": 19.95
	},
	"clouds": {
		"all": 20
	},
	"weather": [{
		"id": 801,
		"main": "Clouds",
		"description": "few clouds",
		"icon": "02n"
	}],
	"wind": {
		"speed": 2.6,
		"deg": 10
	},
	"lat": 34.775395,
	"city_name": "Paphos",
	"lon": 32.421779
}
```

In [27]:
import pandas as pd

df=pd.read_json('paphosWeather2023.json')

df

,dt,dt_iso,timezone,main,clouds,weather,wind,lat,city_name,lon,rain
0,1530403200,2018-07-01 00:00:00 +0000 UTC,10800,"{'temp': 22.99, 'temp_min': 20.6, 'temp_max': ...",{'all': 20},"[{'id': 801, 'main': 'Clouds', 'description': ...","{'speed': 2.6, 'deg': 10}",34.775395,Paphos,32.421779,NaN
1,1530406800,2018-07-01 01:00:00 +0000 UTC,10800,"{'temp': 22.66, 'temp_min': 19.6, 'temp_max': ...",{'all': 0},"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 2.6, 'deg': 20}",34.775395,Paphos,32.421779,NaN
2,1530410400,2018-07-01 02:00:00 +0000 UTC,10800,"{'temp': 22.57, 'temp_min': 19.6, 'temp_max': ...",{'all': 0},"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 3.1, 'deg': 20}",34.775395,Paphos,32.421779,NaN
3,1530414000,2018-07-01 03:00:00 +0000 UTC,10800,"{'temp': 22.92, 'temp_min': 20.6, 'temp_max': ...",{'all': 40},"[{'id': 802, 'main': 'Clouds', 'description': ...","{'speed': 3.1, 'deg': 30}",34.775395,Paphos,32.421779,NaN
4,1530417600,2018-07-01 04:00:00 +0000 UTC,10800,"{'temp': 23.35, 'temp_min': 22.6, 'temp_max': ...",{'all': 20},"[{'id': 801, 'main': 'Clouds', 'description': ...","{'speed': 3.1, 'deg': 40}",34.775395,Paphos,32.421779,NaN
...,...,...,...,...,...,...,...,...,...,...,...
43843,1688238000,2023-07-01 19:00:00 +0000 UTC,10800,"{'temp': 24.83, 'temp_min': 23.18, 'temp_max':...",{'all': 0},"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 3.09, 'deg': 310}",34.775395,Paphos,32.421779,NaN
43844,1688241600,2023-07-01 20:00:00 +0000 UTC,10800,"{'temp': 24.68, 'temp_min': 24.19, 'temp_max':...",{'all': 0},"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 3.09, 'deg': 320}",34.775395,Paphos,32.421779,NaN
43845,1688245200,2023-07-01 21:00:00 +0000 UTC,10800,"{'temp': 24.42, 'temp_min': 23.6, 'temp_max': ...",{'all': 20},"[{'id': 801, 'main': 'Clouds', 'description': ...","{'speed': 2.06, 'deg': 330}",34.775395,Paphos,32.421779,NaN
43846,1688248800,2023-07-01 22:00:00 +0000 UTC,10800,"{'temp': 23.74, 'temp_min': 21.52, 'temp_max':...",{'all': 7},"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 2.06, 'deg': 20}",34.775395,Paphos,32.421779,NaN
43847,1688252400,2023-07-01 23:00:00 +0000 UTC,10800,"{'temp': 23.47, 'temp_min': 20.96, 'temp_max':...",{'all': 10},"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 3.09, 'deg': 20}",34.775395,Paphos,32.421779,NaN

In [7]:
df.columns


'''
'''
"main": {
		"temp": 22.99,
		"temp_min": 20.6,
		"temp_max": 24.23,
		"feels_like": 23.51,
		"pressure": 1009,
		"humidity": 83,
		"dew_point": 19.95
	}
'''

Index(['dt', 'dt_iso', 'timezone', 'main', 'clouds', 'weather', 'wind', 'lat',
       'city_name', 'lon', 'rain'],
      dtype='object')

In [28]:
heat=df[['dt_iso','main']]
heat['main']

0        {'temp': 22.99, 'temp_min': 20.6, 'temp_max': ...
1        {'temp': 22.66, 'temp_min': 19.6, 'temp_max': ...
2        {'temp': 22.57, 'temp_min': 19.6, 'temp_max': ...
3        {'temp': 22.92, 'temp_min': 20.6, 'temp_max': ...
4        {'temp': 23.35, 'temp_min': 22.6, 'temp_max': ...
                               ...
43843    {'temp': 24.83, 'temp_min': 23.18, 'temp_max':...
43844    {'temp': 24.68, 'temp_min': 24.19, 'temp_max':...
43845    {'temp': 24.42, 'temp_min': 23.6, 'temp_max': ...
43846    {'temp': 23.74, 'temp_min': 21.52, 'temp_max':...
43847    {'temp': 23.47, 'temp_min': 20.96, 'temp_max':...
Name: main, Length: 43848, dtype: object

In [31]:
# map means run some functions over every row
# lamdba means create an in-line function


def getTemperature(d):
    return d["temp"]

heat['temp']=df['main'].map(getTemperature)

heat.set_index("dt_iso",inplace=True)

<ipython-input-31-ff79f1425424>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heat['temp']=df['main'].map(getTemperature)

In [39]:
heat

'''
summary.  what did we do:


1.  we used wget to copy the weather data from the internet:

     !wget https://raw.githubusercontent.com/werowe/HypatiaAcademy/master/basics/paphosWeather2023.json

2.  then we made a Pandas dataframe by using the read_json() function against 'paphosWeather2023.json

     df=pd.read_json('paphosWeather2023.json')

3.  Then we took only the date and main columns because we are only interested in temperature and humidity.
the other columns have rain, wind, etc.  So we made a dataframe called heat with just two columns that we took
from df :  dt_iso (which is the date) and main which is a dictionary that contain all of this:

       heat=df[['dt_iso','main']]

       "main": {
		"temp": 22.99,
		"temp_min": 20.6,
		"temp_max": 24.23,
		"feels_like": 23.51,
		"pressure": 1009,
		"humidity": 83,
		"dew_point": 19.95
	}

4.  then we wrote a function getTemperature(d).  This passes in one row of the dataframe at a time.  We sent all
rows using the map() function.  Then we returned d['main'].  Then we made a new column in heat called heat['temp']
def getTemperature(d):
    return d["temp"]

heat['temp']=df['main'].map(getTemperature)

'''

SyntaxError: ignored

In [ ]:
'''


homework:  go get humidity from the dictionary main and add a new column to the heat dataframe called 'humidity'

'''